.eventlist {
  display: inline-block;
  width: 90%;
  margin-right: 10%;
  height: 300px;
  border: 1px solid brown;
  border-radius: 10px;
}

.title {
  text-align: left;
  margin-left: 10%;
}
.list_board {
  overflow-y: scroll;
}
.lists {
  height: 255px;
  overflow-y: scroll;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
}
.list_each {
  height: 75px;
  font-size: 16px;
  padding-left: 5px;
  padding: 10px 10%;
  /* margin: 10px 15%; */
  border-top: 1px solid black;
  overflow: scroll;
}
.list_date {
  margin-right: 20px;
}
.list_switch {
  background-color: red;
  border: solid 1px wheat;
  border-radius: 10px;
  color: white;
  opacity: 0.6;
}
.list_switch:focus{
  outline: none;
}
.list_switch:hover{
  opacity: 1.0;
}
.delete_button {
  float: right;
  background-color: brown;
  border: solid 1px wheat;
  border-radius: 10px;
  color: white;
  opacity: 0.6;
}
.delete_button:focus{
  outline: none;
}
.delete_button:hover{
  opacity: 1.0;
}

.memo_title {
  margin-top: 20px;
}

.past {
  opacity: 0.4;
  background-color: wheat;
}
.longer {
  height: 140px;
}

.blue {
  background-color: blue;
}

/* taskのボタン部分css */
.task_buttons {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid red;
}
.task_button {
  width: 33%;
  margin: 10px;
  padding: 5px 0;
  border-radius: 5px;
  border: none;
  color: white;
}
.task_button:focus {
  outline: none;
}
.task_button:hover {
  opacity: 1.0;
}

.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
.red {
  background-color: red;
}
