.main{
  max-width: 1000px;
  width: 80%;
  padding:0 10px 20px 10px;
  margin: 20px auto 0;
}
.height {
  height: 30px;
}
/* ここからはeventlist, todolist用のcss */
.board {
  max-width: 1000px;
  width: 80%;
  margin: 20px auto 0;
  height: 350px;
  display: flex;
  flex-direction: row;
}
.inline {
  display: inline-block;
  width: 50%;
  text-align: left;
}
