.container {
  min-height: 100vh;
  padding: 20px;
  text-align: center;
}

.board {
  max-width: 1000px;
  width: 80%;
  margin: 20px auto 0;
  height: 250px;
  display: block;
}
.left {
  text-align: left;
  width: 50%;
}
